<%= @text_content %>

--------------------------------------------------------------------------------

Unsubscribe from this newsletter: <%= frontend_url() %>/newsletter/unsubscribe/<%= @user.newsletter_subscription_token %>
