.git
.gitignore
.idea
.travis.yml

# Elixir
.elixir_ls
_build
deps

# Project-specific
rel/docker
resources
dev

# Secrets
apps/*/priv/secrets/*
!apps/*/priv/secrets/.keep

# File types
tmp
erl_crash.dump
*.ez
