_build
deps
erl_crash.dump

# Local uploads
dev/resources
resources

# Release binaries
rel/docker/*.tar

# Coverage reports
apps/*/cover

# Misc
until_fail.sh

# Secrets
apps/*/priv/secrets/*
!apps/*/priv/secrets/.keep
**/*.secret.exs

# Elixir LS
.elixir_ls

# IDE
.history
