<%= form_tag auth_path(@conn, :callback, "identity"), method: "post", novalidate: true do %>
   <input type='email' name="email" placeholder="Your grandpa email" required/>
   <input type='password' name="password" placeholder="A freakin' password" required/>
   <input type="hidden" name="type" value="session"/>
   <button type="submit">Let's go</button>
<% end %>
