<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= image %>">
    <meta property="og:url" content="<%= url %>">

    <title>CaptainFact</title>
  </head>

  <body>
  </body>
</html>
