# App artifacts
/_build
/db
/deps
/*.ez
captain-fact-api_release.tar

# Generated on crash by the VM
erl_crash.dump

# Uploads
resources

# Local secrets
priv/secrets/*
!priv/secrets/.keep

# Release build
/captain_fact.tar.gz
