<%= raw @content %>

<a href="<%= frontend_url() %>/newsletter/unsubscribe/<%= @user.newsletter_subscription_token %>"
style="font-size: 15px;text-align: center;font-family: Ubuntu, Lato, Tahoma, sans-serif;background: aliceblue;padding: 1em;display: block;">
  <%= gettext_mail("Unsubscribe from this newsletter") %>
</a>