Click on this link to reset your password on CaptainFact:

<a href="<%= frontend_url() %>/reset_password/confirm/<%= @reset_password_token %>">
  Reset pasword
</a>

<br><br>

Please ignore this email if the request is not comming from you.

<br><br>

<span style="color: grey; font-style: italic; font-size: 11px;">
  Reset requested by IP: <%= @source_ip %>
</span>