Vous avez demandé la réinitialisation de votre mot de passe sur CaptainFact.
Vous pouvez procéder au changement de mot de passe en suivant ce lien :

<a href="<%= frontend_url() %>/reset_password/confirm/<%= @reset_password_token %>">
  Changer mon mot de passe
</a>

<br><br>

Merci d'ignorer cet email si la requête ne vient pas de vous.

<br><br>

<span style="color: grey; font-style: italic; font-size: 11px;">
  Origine de la demande : <%= @source_ip %>
</span>