You recently asked to reset your password on CaptainFact.

You can do so by following this link:
<%= frontend_url() %>/reset_password/confirm/<%= @reset_password_token %>

Please ignore this email if the request is not comming from you.

(Requested by IP: <%= @source_ip %>)