Vous avez demandé la réinitialisation de votre mot de passe sur CaptainFact.

Vous pouvez procéder au changement de mot de passe en suivant ce lien :
<%= frontend_url() %>/reset_password/confirm/<%= @reset_password_token %>

Merci d'ignorer cet email si la requête ne vient pas de vous.

(Origine de la demande : <%= @source_ip %>)