Welcome to CaptainFact.io !

To confirm your email and gain a bonus of
+<%= @confirm_email_reputation %> reputation, click on the following link:

<%= frontend_url() %>/confirm_email/<%= @user.email_confirmation_token %>

You can learn more about how the system works and the whys of CaptainFact by
checking the help pages at <%= frontend_url() %>/help

Feel free to contact us at contact@captainfact.io

See you soon on CaptainFact !