<%= render @view_module, @view_template, assigns %>


--------------------------------------------------------------------------------

<%= gettext_mail("CaptainFact is a free and open source project.") %>
<%= gettext_mail("If you like it, please share the word!") %>

Forum: https://forum.captainfact.io/
Discord: https://discord.gg/2Qd7hMz
Github: https://github.com/CaptainFact
Facebook: https://www.facebook.com/CaptainFact.io/
Twitter: https://twitter.com/CaptainFact_io