You recently asked to reset your password on CF.

You can do so by following this link:

<a href="<%= reset_password_url(@reset_password_token) %>">
  Reset password
</a>

<br><br>

Please ignore this email if the request is not comming from you.

<br><br>

<span style="color: grey; font-style: italic; font-size: 11px;">
  Reset requested by IP: <%= @source_ip %>
</span>